html 
    head
        title Welcome aboard
    body 
        h1 Welcome aboard 
        h4 Hey there,
        p welcome to Cinemahub, A platform to do more than just socialize.
        p Here is an opportunity to connect with that dream partner, Mentor, Successor, Idol.
        bold check out an event you'll like to connect with your partner over.
        