html 
    head
        title password reset 
    body 
        h1 reset password 
        p click the button below to complete password reset.
        a(href= "/auth/forget-password/{ resetKoken }")
        button complete reset
        
